<div class="card">
    <!-- <div class="user-name"><span>Ola Richard</span></div> -->
    <div class="info"><span>Dados da sua conta:</span></div>
    <div class="account-info">
        <ul>
            <li class="account-item">
                <span>Banco</span>
                <span>{{bank}}</span>
            </li>
            <li class="account-item">
                <span>Agencia</span>
                <span>{{branch}}</span>
            </li>
            <li class="account-item">
                <span>Conta</span>
                <span>{{account}}</span>
            </li>
        </ul>
    </div>
</div>
