<div class="card">
    <!-- <div class="user-name"><span>Ola Richard</span></div> -->
    <div class="info"><span>Dados da sua conta:</span></div>
    <div class="account-info">
        <ul>
            <li class="account-item">
                <span>Banco</span>
                <span>352</span>
            </li>
            <li class="account-item">
                <span>Agencia</span>
                <span>0001</span>
            </li>
            <li class="account-item">
                <span>Conte</span>
                <span>300100</span>
            </li>
        </ul>
    </div>
</div>
