
<app-loading [show]="isLoading"></app-loading>
<div class="nav">
    <div class="user-info">
        <span>Ola {{name}}</span>
    </div>
    <div class="nav-actions">
        <div class="actions">
            <div  [ngStyle]="{width: withAccountData}" class="account-data">
                <app-card-account
                    [account]="account"
                    [bank]="bank"
                    [branch]="branch"
                ></app-card-account>
            </div>
            <button (click)="setShowAccountData()">{{textButtonShowAccountData}}</button>
            <button (click)="logOut()">Logout</button>
        </div>
    </div>
</div>
