.card{
    width: 350px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.card-title{
    font-size: 13px;
    text-align: left;
    margin-bottom: 10px;
    background-color: rgb(6, 8, 114);
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.card-content{
    padding: 10px;
    box-sizing: border-box;
}
.trends-item{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: solid 1px #ccc;
    color: rgb(6, 8, 114);
}

.trends-value{
    margin: 0 10px;
    color: rgb(6, 8, 114);
}

.trends-item button{
    background-color: rgb(6, 8, 114);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.trends-item button:hover{
    opacity: 0.8;

}
