<div class="card">
    <div class="card-title">
        <span>Ativos mais vendidos nos ultimos 7 dias</span>
    </div>
    <div class="card-content">
        <ul>
            <li class="trends-item">
                <span>Banco do Brasil</span>
                <div>
                    <span class="trends-value">R$ 35,98</span>
                    <button>Comprar</button>
                </div>
            </li>
            <li class="trends-item">
                <span>Lojas Americanas</span>
                <div>
                    <span class="trends-value">R$ 35,98</span>
                    <button>Comprar</button>
                </div>
            </li>
            <li class="trends-item">
                <span>Amazon</span>
                <div>
                    <span class="trends-value">R$ 35,98</span>
                    <button>Comprar</button>
                </div>
            </li>
            <li class="trends-item">
                <span>Google</span>
                <div>
                    <span class="trends-value">R$ 35,98</span>
                    <button>Comprar</button>
                </div>
            </li>
            <li class="trends-item">
                <span>Netflix</span>
                <div>
                    <span class="trends-value">R$ 35,98</span>
                    <button>Comprar</button>
                </div>
            </li>
        </ul>
    </div>
</div>
