<app-loading [show]="isLoading"></app-loading>
<div *ngIf="show" class="background">
    <div class="card-buy">
        <div class="card-title">
            <span>Quantos ativos você deseja comprar?</span>
            <button class="button-close" (click)="handleClose()">X</button>
        </div>
        <div *ngIf="textAlert !== ''" class="alert">
            <p>Saldo Insuficiente</p>
        </div>
        <div class="asset-name">
            <span>{{asset.name}}</span>
        </div>
        <div>
            <app-input 
                [isNumber]="true" 
                [value]="quantity.toString()" 
                inputName="Quantidade"
                (setValue)="setQuantity($event)"
            ></app-input>
        </div>
        <div class="actions">
            <button (click)="buy()" class="button-buy">COMPRAR</button>
        </div>
    </div>
</div>
