<app-modal-compra 
    [show]="showModalBuy" 
    [asset]="currentAssetToBuy" 
    (close)="closeModalBuy()"
></app-modal-compra>
<div class="card">
    <div class="card-title">
        <span>Todos os Ativos</span>
    </div>
    <div class="card-content">
        <ul>
            <li *ngFor="let asset of assets" class="assets-item">
                <span>{{asset.name}}</span>
                <div>
                    <span class="asset-value">R$ {{asset.current_price}}</span>
                    <button (click)="handleShowModalBuy(asset)">Comprar</button>
                </div>
            </li>
        </ul>
    </div>
</div>
