.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    /* background-image: url('../../../assets/images/screen-assets.jpeg');
    background-size: cover; */
}