<app-loading [show]="isLoading"></app-loading>
<div class="card">
    <div class="icon-container">
        <img [src]="'assets/images/lock_FILL1_wght400_GRAD0_opsz48.png'" alt="">
    </div>
    <div *ngIf="requestErrorAlert !== ''" class="alert">
      <p>{{requestErrorAlert}}</p>
    </div>
    <div class="card-content">
      <app-input 
        inputName="Email" 
        (setValue)="setEmail($event)"
        [value]="email"
        [textError]="emailError"
      ></app-input>
      <app-input 
        inputName="Senha" 
        (setValue)="setPassword($event)"
        [value]="password"
        [isPassword]="true"
      ></app-input>
        <button (click)="send()">Login</button>
        <a routerLink="/register"><button>Cadastrar</button></a>
      </div>
</div>
