<div class="card">
    <div class="icon-container">
        <img [src]="'assets/images/lock_FILL1_wght400_GRAD0_opsz48.png'" alt="">
    </div>
    <div class="card-content">
      <form >
        <label for="email">Email</label>
        <input type="text" name="email">
      </form>
    
      <form >
        <label for="psw">Senha</label>
        <input type="password" name="psw" required>
      </form>
    
        <button>Login</button>
        <a routerLink="/register"><button>Cadastrar</button></a>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
</div>
