/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.material-symbols-sharp {
    color: #04AA6D;
    font-weight: bolder;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}

button{
  background-color: rgb(6, 8, 114) !important;
  color: white !important;
}
